[flake8]
# compatibility with black
max-line-length = 88
extend-ignore = E203,E701
exclude = 
    .venv
    doc/build
# flake-docstrings
docstring-convention = numpy
per-file-ignores =
    *.pyi:D,E301,E302
    src/conftest.py:D
    doc/*:D
    tests/*:D